{# templates/blog/show.html.twig #}
{% extends 'base.html.twig' %}

{% block title %}{{ slug }}{% endblock %}

{% block stylesheets %}{% endblock %}

{% block body %}

    <div>
        <h1>Real article s title : {{ article.title }}</h1>
        <h2>Category : {{ article.category.name }}</h2>
        <p>{{ article.content }}</p>
    </div>

    <a href="{{ path('homepage') }}">
        Back to homepage.
    </a>

{% endblock %}